.card {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  display: flex;
 
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
}

.card img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.card p {
  margin-left: 120px;
  font-size: 1.2rem;
}
